USE [MES]
GO
/****** Object:  Table [dbo].[GAME_InfoPanel]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GAME_InfoPanel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RomID] [int] NOT NULL,
	[Region] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Publisher] [nvarchar](100) NULL,
	[ReleaseDate] [datetime] NULL,
	[Players] [int] NULL,
	[CoOp] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_GAME_InfoPanel_ReleaseDate]    Script Date: 10/28/2025 8:11:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_GAME_InfoPanel_ReleaseDate] ON [dbo].[GAME_InfoPanel]
(
	[ReleaseDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GAME_InfoPanel_RomID]    Script Date: 10/28/2025 8:11:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_GAME_InfoPanel_RomID] ON [dbo].[GAME_InfoPanel]
(
	[RomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GAME_InfoPanel] ADD  DEFAULT ('Unknown') FOR [Region]
GO
ALTER TABLE [dbo].[GAME_InfoPanel] ADD  DEFAULT ((0)) FOR [CoOp]
GO
ALTER TABLE [dbo].[GAME_InfoPanel] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GAME_InfoPanel] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[GAME_InfoPanel]  WITH CHECK ADD CHECK  (([Players]>=(0) AND [Players]<=(8)))
GO
