USE [MES]
GO
/****** Object:  Table [dbo].[MES_Media]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MES_Media](
	[MediaID] [int] IDENTITY(1,1) NOT NULL,
	[RomID] [int] NOT NULL,
	[SystemID] [int] NOT NULL,
	[IconPath] [nvarchar](4000) NULL,
	[BoxArtPath] [nvarchar](4000) NULL,
	[ScreenshotPath] [nvarchar](4000) NULL,
	[MediaType] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[GameLogoPath] [nvarchar](4000) NULL,
	[GamePlayScrnPath] [nvarchar](4000) NULL,
	[GameTitleScrnPath] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MES_Media] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MES_Media]  WITH CHECK ADD FOREIGN KEY([RomID])
REFERENCES [dbo].[MES_Roms] ([RomID])
GO
ALTER TABLE [dbo].[MES_Media]  WITH CHECK ADD FOREIGN KEY([SystemID])
REFERENCES [dbo].[MES_Systems] ([SystemID])
GO
