USE [MES]
GO
/****** Object:  Table [dbo].[MES_STG_ROM_ERRORS]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MES_STG_ROM_ERRORS](
	[FullPath] [nvarchar](4000) NULL,
	[ErrorMsg] [nvarchar](200) NULL,
	[LoggedAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MES_STG_ROM_ERRORS] ADD  DEFAULT (sysutcdatetime()) FOR [LoggedAt]
GO
