USE [MES]
GO
/****** Object:  Table [dbo].[MES_STG_ROM_PATHS]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MES_STG_ROM_PATHS](
	[FullPath] [nvarchar](4000) NOT NULL
) ON [PRIMARY]
GO
