USE [MES]
GO
/****** Object:  Table [dbo].[MES_Roms]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MES_Roms](
	[RomID] [int] IDENTITY(1,1) NOT NULL,
	[RomName] [nvarchar](255) NULL,
	[DisplayName] [nvarchar](255) NULL,
	[FileName] [nvarchar](255) NULL,
	[Extension] [nvarchar](100) NULL,
	[FullPath] [nvarchar](4000) NULL,
	[SystemID] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MES_Roms] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MES_Roms]  WITH CHECK ADD FOREIGN KEY([SystemID])
REFERENCES [dbo].[MES_Systems] ([SystemID])
GO
