USE [MES]
GO
/****** Object:  StoredProcedure [dbo].[usp_Build_MES_Retro_Library]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_Build_MES_Retro_Library]
AS
BEGIN
    SET NOCOUNT ON;
    PRINT '🚨 Starting MES Retro Library full rebuild (nuclear mode)...';
    PRINT '💥 Dropping existing MES tables...';
    IF OBJECT_ID('dbo.MESRetroLibrary') IS NOT NULL
        DROP TABLE dbo.MESRetroLibrary;
    IF OBJECT_ID('dbo.MES_Media') IS NOT NULL
        DROP TABLE dbo.MES_Media;
    IF OBJECT_ID('dbo.MES_Roms') IS NOT NULL
        DROP TABLE dbo.MES_Roms;
    IF OBJECT_ID('dbo.MES_Systems') IS NOT NULL
        DROP TABLE dbo.MES_Systems;
    IF OBJECT_ID('dbo.MES_STG_ROM_CLEAN') IS NOT NULL
        DROP TABLE dbo.MES_STG_ROM_CLEAN;
    IF OBJECT_ID('dbo.MES_STG_ROM_PATHS') IS NOT NULL
        DROP TABLE dbo.MES_STG_ROM_PATHS;
    IF OBJECT_ID('dbo.MES_STG_ROM_ERRORS') IS NOT NULL
        DROP TABLE dbo.MES_STG_ROM_ERRORS;
    CREATE TABLE dbo.MES_STG_ROM_PATHS (
        FullPath NVARCHAR (4000) NOT NULL
    );
    BULK INSERT dbo.MES_STG_ROM_PATHS FROM 'F:\MES\roms_paths.txt'
        WITH (ROWTERMINATOR = '\n', FIELDTERMINATOR = '\t', CODEPAGE = 'ACP');
    CREATE TABLE dbo.MES_STG_ROM_ERRORS (
        FullPath NVARCHAR (4000),
        ErrorMsg NVARCHAR (200) ,
        LoggedAt DATETIME2       DEFAULT SYSUTCDATETIME()
    );
    CREATE TABLE dbo.MES_STG_ROM_CLEAN (
        FullPath     NVARCHAR (4000) NOT NULL,
        SystemName   NVARCHAR (100)  NULL,
        FileNameOnly NVARCHAR (255)  NULL,
        RomDir       NVARCHAR (4000) NULL
    );
    INSERT INTO dbo.MES_STG_ROM_CLEAN (FullPath)
    SELECT FullPath
    FROM   dbo.MES_STG_ROM_PATHS
    WHERE  FullPath LIKE '%\MES\ROMS\%\%.%';
    INSERT INTO dbo.MES_STG_ROM_ERRORS (FullPath, ErrorMsg)
    SELECT FullPath,
           'Invalid ROM path pattern'
    FROM   dbo.MES_STG_ROM_PATHS
    WHERE  FullPath NOT LIKE '%\MES\ROMS\%\%.%';
    UPDATE C
    SET    SystemName   = CASE WHEN CHARINDEX('\ROMS\', FullPath) > 0 THEN LEFT(SUBSTRING(FullPath, CHARINDEX('\ROMS\', FullPath) + 6, LEN(FullPath)), CHARINDEX('\', SUBSTRING(FullPath, CHARINDEX('\ROMS\', FullPath) + 6, LEN(FullPath)) + '\') - 1) ELSE NULL END,
           FileNameOnly = CASE WHEN CHARINDEX('\', REVERSE(FullPath)) > 0 THEN RIGHT(FullPath, CHARINDEX('\', REVERSE(FullPath)) - 1) ELSE NULL END,
           RomDir       = CASE WHEN CHARINDEX('\', REVERSE(FullPath)) > 0 THEN LEFT(FullPath, LEN(FullPath) - CHARINDEX('\', REVERSE(FullPath))) ELSE NULL END
    FROM   dbo.MES_STG_ROM_CLEAN AS C;
    CREATE TABLE dbo.MES_Systems (
        SystemID   INT             IDENTITY (1, 1) PRIMARY KEY,
        SystemName NVARCHAR (100)  UNIQUE,
        RomPath    NVARCHAR (4000),
        MediaPath  NVARCHAR (4000),
        CreatedAt  DATETIME2       DEFAULT SYSUTCDATETIME()
    );
    INSERT INTO dbo.MES_Systems (SystemName, RomPath, MediaPath)
    SELECT DISTINCT SystemName,
                    CONCAT('F:\MES\ROMS\', SystemName),
                    CONCAT('F:\MES\MEDIA\', SystemName)
    FROM   dbo.MES_STG_ROM_CLEAN
    WHERE  SystemName IS NOT NULL;
    CREATE TABLE dbo.MES_Roms (
        RomID       INT             IDENTITY (1, 1) PRIMARY KEY,
        RomName     NVARCHAR (255)  NULL,
        DisplayName NVARCHAR (255)  NULL,
        FileName    NVARCHAR (255)  NULL,
        Extension   NVARCHAR (100)  NULL,
        FullPath    NVARCHAR (4000) NULL,
        SystemID    INT             NULL FOREIGN KEY REFERENCES dbo.MES_Systems (SystemID),
        CreatedAt   DATETIME2       DEFAULT SYSUTCDATETIME()
    );
    WITH CandidateRoms
    AS   (SELECT LOWER(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(FileNameOnly, '-', '_'), ' ', '_'), '(', ''), ')', ''), '''', '')) AS RomName,
                 REPLACE(REPLACE(LEFT(FileNameOnly, CHARINDEX('.', FileNameOnly + '.') - 1), '_', ' '), '-', ' ') AS DisplayName,
                 FileNameOnly AS FileName,
                 CASE WHEN CHARINDEX('.', FileNameOnly) > 0 THEN LEFT(REPLACE(RIGHT(FileNameOnly, LEN(FileNameOnly) - CHARINDEX('.', FileNameOnly)), CHAR(0), ''), 20) ELSE 'unknown' END AS Extension,
                 FullPath,
                 S.SystemID
          FROM   dbo.MES_STG_ROM_CLEAN AS C
                 INNER JOIN
                 dbo.MES_Systems AS S
                 ON C.SystemName = S.SystemName
          WHERE  C.FileNameOnly IS NOT NULL
                 AND CHARINDEX('.', C.FileNameOnly) > 0
                 AND LEN(C.FileNameOnly) < 255
                 AND PATINDEX('%[^A-Za-z0-9_.()% -]%', C.FileNameOnly) = 0)
    INSERT INTO dbo.MES_Roms (RomName, DisplayName, FileName, Extension, FullPath, SystemID)
    SELECT RomName,
           DisplayName,
           FileName,
           Extension,
           FullPath,
           SystemID
    FROM   (SELECT *,
                   ROW_NUMBER() OVER (PARTITION BY RomName, Extension, SystemID ORDER BY FileName) AS rn
            FROM   CandidateRoms) AS d
    WHERE  rn = 1;
    INSERT INTO dbo.MES_STG_ROM_ERRORS (FullPath, ErrorMsg)
    SELECT FullPath,
           'Rejected due to invalid filename chars or length'
    FROM   dbo.MES_STG_ROM_CLEAN AS C
    WHERE  C.FileNameOnly IS NOT NULL
           AND (LEN(C.FileNameOnly) >= 255
                OR CHARINDEX('.', C.FileNameOnly) = 0
                OR PATINDEX('%[^A-Za-z0-9_.()% -]%', C.FileNameOnly) > 0);
    CREATE TABLE dbo.MES_Media (
        MediaID        INT             IDENTITY (1, 1) PRIMARY KEY,
        RomID          INT             NOT NULL FOREIGN KEY REFERENCES dbo.MES_Roms (RomID),
        SystemID       INT             NOT NULL FOREIGN KEY REFERENCES dbo.MES_Systems (SystemID),
        IconPath       NVARCHAR (4000) NULL,
        BoxArtPath     NVARCHAR (4000) NULL,
        ScreenshotPath NVARCHAR (4000) NULL,
        MediaType      NVARCHAR (50)   NULL,
        CreatedAt      DATETIME2       DEFAULT SYSUTCDATETIME()
    );
    INSERT INTO dbo.MES_Media (RomID, SystemID, IconPath, BoxArtPath, ScreenshotPath, MediaType)
    SELECT R.RomID,
           R.SystemID,
           CONCAT('F:\MES\MEDIA\', S.SystemName, '\ICONS\', R.RomName, '.png') AS IconPath,
           CONCAT('F:\MES\MEDIA\', S.SystemName, '\BOXART\', R.RomName, '.jpg') AS BoxArtPath,
           CONCAT('F:\MES\MEDIA\', S.SystemName, '\SCREENSHOT\', R.RomName, '.jpg') AS ScreenshotPath,
           'AutoGenerated' AS MediaType
    FROM   dbo.MES_Roms AS R
           INNER JOIN
           dbo.MES_Systems AS S
           ON R.SystemID = S.SystemID;
    CREATE TABLE dbo.MESRetroLibrary (
        LibraryID    INT             IDENTITY (1, 1) PRIMARY KEY,
        RomID        INT             NOT NULL FOREIGN KEY REFERENCES dbo.MES_Roms (RomID),
        SystemID     INT             NOT NULL FOREIGN KEY REFERENCES dbo.MES_Systems (SystemID),
        MediaID      INT             NOT NULL FOREIGN KEY REFERENCES dbo.MES_Media (MediaID),
        YouTubeOST   NVARCHAR (20)   NULL,
        EmulatorPath NVARCHAR (4000) NULL,
        AddedAt      DATETIME2       DEFAULT SYSUTCDATETIME()
    );
    INSERT INTO dbo.MESRetroLibrary (RomID, SystemID, MediaID)
    SELECT R.RomID,
           R.SystemID,
           M.MediaID
    FROM   dbo.MES_Roms AS R
           INNER JOIN
           dbo.MES_Media AS M
           ON R.RomID = M.RomID;
    DECLARE @errCount AS INT = (SELECT COUNT(*)
                                FROM   dbo.MES_STG_ROM_ERRORS);
    DECLARE @romCount AS INT = (SELECT COUNT(*)
                                FROM   dbo.MES_Roms);
    DECLARE @sysCount AS INT = (SELECT COUNT(*)
                                FROM   dbo.MES_Systems);
    PRINT CONCAT('✅ MESRetroLibrary rebuild complete. Systems: ', @sysCount, ', ROMs: ', @romCount);
    IF @errCount > 0
        PRINT CONCAT('⚠ Logged ', @errCount, ' invalid/rejected entries in MES_STG_ROM_ERRORS.');
    PRINT '🎮 All IDs rebuilt clean, dupes filtered before insert, foreign keys intact.';
END

GO
