USE [MES]
GO
/****** Object:  Table [dbo].[MESRetroLibrary]    Script Date: 10/28/2025 8:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESRetroLibrary](
	[LibraryID] [int] IDENTITY(1,1) NOT NULL,
	[RomID] [int] NOT NULL,
	[SystemID] [int] NOT NULL,
	[MediaID] [int] NOT NULL,
	[YouTubeOST] [nvarchar](20) NULL,
	[EmulatorPath] [nvarchar](4000) NULL,
	[AddedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LibraryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MESRetroLibrary] ADD  DEFAULT (sysutcdatetime()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[MESRetroLibrary]  WITH CHECK ADD FOREIGN KEY([MediaID])
REFERENCES [dbo].[MES_Media] ([MediaID])
GO
ALTER TABLE [dbo].[MESRetroLibrary]  WITH CHECK ADD FOREIGN KEY([RomID])
REFERENCES [dbo].[MES_Roms] ([RomID])
GO
ALTER TABLE [dbo].[MESRetroLibrary]  WITH CHECK ADD FOREIGN KEY([SystemID])
REFERENCES [dbo].[MES_Systems] ([SystemID])
GO
